@font-face {
    font-family: 'StarJedi';
    src: url(Starjedi.ttf);
}

html {
    background-color: black;
}

.header-wrapper {
    font-family: 'StarJedi';
    font-size: 12px;
    margin-left: 545px;
    color:gold;
    margin-top: 15px;

}

#gamecontainer {
    width: 850px;
    height: 650px; 
    position: fixed; 
    margin-left: 300px;
    margin-top: 90px;
    background-image: url(space.png);
    background-repeat: no-repeat

}


#resetinvaders {
    position: fixed;
    height: 550px;
    width: 784px;
    left: 352px;
    top: 200px;
}

#score {
    font-family: 'StarJedi';
    font-size: 20px;
    color:antiquewhite;
    top: 40px;
    margin-left: 325px;
    width: 200px;
}


#lives {
    font-family: 'StarJedi';
    font-size: 20px;
    color:antiquewhite;
    top: 50px;
    margin-left: 325px;

}
